/* Webpage by Arnav Anand (Apeejay School, Mahavir Marg, Jalandhar) */

.container {
    position: absolute;
    padding-top: 2%;
    width: 27%;
    right: 10%;
    height: 50%;
    top: 13%;
    border-radius: 10px;
    background-color: #153e52;
}

input {
    position: absolute;
    width: 87%;
    left: 5%;
    height: 10%;
    font-size: 1em;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08) inset;
    border-radius: 2px;
    border: 1px solid #1e6d73;
    color: black;
    padding: 5px 0;
    padding-left: 3%;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

#textbox {
    position: absolute;
    width: 87%;
    left: 5%;
    height: 20%;
    font-size: 1em;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.08) inset;
    border-radius: 2px;
    border: 1px solid #1e6d73;
    color: black;
    padding: 5px 0;
    padding-left: 3%;
}

input[type="text"], input[type="email"], #textbox {
    background-color: #1e6d73;
    color: #fff;
}

input[type="submit"] {
    height: 15%;
    width: 91%;
    background-color:rgb(8, 189, 119);
    border: 1px solid black;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color:rgb(9, 175, 111);
    transition: all 0.3s ease;
}

input:focus, #textbox:focus {
    border: 2px solid #1e6d73;
}